<p id="notice"><%= notice %></p>

<%= form_for(@shopping_cart, :url => url_for(:controller => 'shopping_carts', :action => 'update'), :method => :put) do |f| %>

    <table>
      <tr>
        <td> Product Name</td>
        <td> Quantity</td>
        <td> Price</td>
        <td> Delete</td>
        <td></td>
      </tr>

      <% unless @shopping_cart.item_list.empty? %>
          <% eval(@shopping_cart.item_list).each do |item_id, item_quantity| %>
              <tr>
                <%	 item_in_cart = @item_list.detect{|w| w.id == Integer(item_id)} %>
                <td><%= item_in_cart.title %></td>
                <td><%= f.number_field :item_list[item_id], :value => item_quantity, :min => 1, :max => item_in_cart.quantity %></td>
                <td><%= item_quantity*item_in_cart.price %></td>
                <td><%= link_to 'Delete', shopping_cart_url(@shopping_cart, :item_in_cart => item_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
    <!--<%= f.hidden_field :item_list, :value => @shopping_item_list %>-->
    <p>
      <%= f.submit %>
    </p>
<% end %>


<%#= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%#= link_to 'Back', shopping_carts_path %>
