<p id="notice"><%= notice %></p>

<%= form_for(@item, :url => url_for(:controller => 'shopping_carts', :action => 'update'), :method => :put) do |f| %>
               param[:item][:jiew]
    <table>
      <tr>
        <td> Product Name</td>
        <td> Quantity</td>
        <td> Price</td>
        <td> Delete</td>
        <td></td>
      </tr>

      <% unless @shopping_item_list.nil? %>
          <% @shopping_item_list.each do |item_info| %>
              <tr>
                <td><%= item_info[:title] %></td>
                <td><%= item_info.number_field :quantity, :value => item_info[:quantity], :min => 1, :max => @item.quantity %></td>
                <td><%= item_info[:price] %></td>
                <td><%= f.check_box 'delete_item_id[]'%></td>
              </tr>
          <% end %>
      <% end %>
    </table>
    <%= f.hidden_field :item_list, :value => @shopping_item_list %>
    <p>
      <%= f.submit :value => "Update" %>
    </p>
<% end %>


<%#= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%#= link_to 'Back', shopping_carts_path %>
