<p id="notice"><%= notice %></p>

<%= form_tag controller: 'shopping_carts', action: 'update_quantity', method: 'post' do %>

    <table>
      <tr>
        <td> Product Name</td>
        <td> Quantity</td>
        <td> Price</td>
        <td> Delete</td>
        <td></td>
      </tr>

      <% unless @shopping_item_list.nil? %>
          <% @shopping_item_list.each do |item_info| %>
              <tr>
                <td><%= item_info[:item].title %></td>
                <td><%= number_field_tag 'change_quantity_item_id[]', item_info[:quantity], required: true, in: 1..(item_info[:item].quantity) %></td>
                <td>$<%= item_info[:price] %></td>
                <td><%= check_box_tag "delete_item_id[]", @shopping_item_list.index(item_info), false %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
    <%= hidden_field_tag 'item_hash', @shopping_cart_hash %>

    <%= submit_tag "Update" %>
    <p>Total Price : $<%= @total_price %></p>

<% end %>

<% if @total_price > 0 %>
    <p>
      <%= link_to 'Pay with Card/(Card + Reward Points)', new_transaction_path(:total_amount => @total_price) %>
    </p>
<% end %>
<% if @total_price > 0 && @total_price <= current_user.reward_points %>
    <p>
      <%= link_to 'Pay exclusively with Reward Points', reward_points_only_path(:reward_points => @total_price) %>
    </p>
<% end %>
