<h1>Profile</h1>

<p>
  <strong>First Name:</strong>
  <%= current_user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= current_user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= current_user.street %>
</p>

<p>
  <strong>Country:</strong>
  <%= current_user.country %>
</p>
<p>
  <strong>Zip:</strong>
  <%= current_user.zip %>
</p>

<h3 class="mypets">Item Selling</h3>
<div class="thepet">
<style>
    #customers
    {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
    }
    #customers td, #customers th
    {
        font-size:1em;
        border:1px solid #98bf21;
        padding:3px 7px 2px 7px;
    }
    #customers th
    {
        font-size:1.1em;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#A7C942;
        color:#ffffff;
    }
    #customers tr.alt td
    {
        color:#000000;
        background-color: #acf286;
    }
</style>

  <table id="customers">
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Condition</th>
      <!--<th>Duration</th>-->
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    <% @items[1].each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.category %></td>

          <td><%= item.description %></td>

          <td><%= item.condition %></td>
          <td>$<%= item.price %></td>
          <td><%= item.quantity %></td>

          <td><%= link_to 'View the Item', item %></td>
        </tr>
    <% end %>
  </table>
  <br />

</div>
<h3 class="mypets">Item Sold</h3>
<div class="thepet">
<table id="customers">

    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Condition</th>
      <!--<th>Duration</th>-->
      <th>Price</th>
      <th>Quantity Sold</th>
      <th></th>
    </tr>
    <% @items[2].each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.category %></td>

          <td><%= item.description %></td>

          <td><%= item.condition %></td>
          <td>$<%= item.price %></td>
          <td><%= item.total_quantity - item.quantity %></td>

          <td><%= link_to 'View the Item', item %></td>
        </tr>
    <% end %>
  </table>
  <br />
</div>

<br />

<h3 class="mypets">Item Bought</h3>
<div class="thepet">
 <table id="customers">

    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Quantity Bought</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th></th>
    </tr>
    <% @items[3].each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.category %></td>

          <td><%= item.description %></td>

          <td><%= item.condition %></td>
          <td><%= item.quantity %></td>
          <td>$<%= item.price %></td>
          <td>$<%= item.price * item.quantity %></td>

          <td><%= link_to 'View the Item', item %></td>
        </tr>
    <% end %>
  </table>
  <br />
</div>

<br />


<script type="text/javascript">

    //Initialize first demo:
    ddaccordion.init({
        headerclass: "mypets", //Shared CSS class name of headers group
        contentclass: "thepet", //Shared CSS class name of contents group
        revealtype: "mouseover", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
        mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
        collapseprev: true, //Collapse previous content (so only one open at any time)? true/false
        defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
        onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
        animatedefault: false, //Should contents open by default be animated into view?
        scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
        persiststate: true, //persist state of opened contents within browser session?
        toggleclass: ["", "openpet"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
        togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
        animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
        oninit:function(expandedindices){ //custom code to run when headers have initalized
            //do nothing
        },
        onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
            //do nothing
        }
    })
</script>


<%= link_to 'Sell Item', new_item_path %>
<%= link_to 'edit profile', edit_user_path %>
<%= link_to 'My Transactions', my_transactions_path %>
