<%= form_for(@item, :html => { :multipart => true }) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% else %>
        <% if @revenue.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@revenue.errors.count, "error") %> prohibited this item from being saved:</h2>

              <ul>
                <% @revenue.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title ,required: true%>
    </div>


    <div class="field">
      <%= f.label :category %><br />
      <%= f.select(:category, options_for_select(
              [['TV & Home Theater', 'TV & Home Theater'],
               ['Computer & Tables', 'Computer & Tables'],
               ['Cell Phones', 'Cell Phones'],
               ['Cameras', 'Cameras'],
               ['Audio', 'Audio'],
               ['Electronics', 'Electronics'],
               ['Video Games', 'Video Games'],
               ['Health', 'Health']]),
                     :onChange => "displaydesc(document.form1.select1, thetext1, 'textcontainer1')",
                     :size => 1) %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :condition %><br />
      <%= f.text_field :condition,required: true %>
    </div>
    <!--<div class="field">
      <%#= f.label :duration %><br />
      <%#= f.text_field :duration %>
    <%= f.hidden_field :duration, :value => 0,required: true %>
    </div>-->



    <div class="field" >
      <%= f.label :quantity %><br />
      <%= f.number_field :total_quantity, :value => 1, :min => 1, :max => 65535,required: true%>
    </div>

    <div class="field" >
      <%= f.label :price %><br />$
      <%= f.number_field :price, :value => 1, :min => 1,required: true %>
    </div>
    <div class="field" >
      <%= f.file_field :product%>
    </div>

    <div class="field">
      <%= f.label :isAdvertisement %><br />
      <%= f.number_field :isAdvertisement, :value => 0, :min => 0, :max =>1 %>
     <!--<#%= f.check_box_tag(:isAdvertisement, value = "1", checked = false, options = {}) %>-->
      <!--f.input :isAdvertisement, :as => :check_box, input_html: {checked:   1} %>-->

      <!--Yes <%= f.radio_button  :isAdvertisement, :value => 1,  :class =>"Ad_Input", :checked => false  %>
      No  <%= f.radio_button :isAdvertisement, :value => 0, :class =>"Ad_Input", :checked => true   %>
-->


          </div>

    <%= f.hidden_field :active, :value => 1 %>

    <h1>Pay for product uploading</h1>

    <div class="field">
      <%= label_tag 'name' %><br />
      <%= text_field_tag 'name' %>
    </div>
    <div class="field">
      <%= label_tag 'card_number' %><br />
      <%= text_field_tag 'card_number' %>
    </div>
    <div class="field">
      <%= label_tag 'expiry_date' %> mmyy format only<br />
      <%= text_field_tag 'expiry_date' %>
    </div>
    <div class="field">
      <%= label_tag 'address' %><br />
      <%= text_field_tag 'address' %>
    </div>


    <div class="actions">
      <%= f.submit "Upload item and pay for space" %>
    </div>

<% end %>
