<%= form_for(@item, :html => {:multipart => true}) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% else %>
        <% if @revenue.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@revenue.errors.count, "error") %> prohibited this item from being saved:</h2>

              <ul>
                <% @revenue.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>
    <table>
      <tr>
        <td><%= f.label :title %>
        <td></tr>
      <tr>
        <td><%= f.text_field :title, required: true %></td>
      </tr>


      <tr>
        <td><%= f.label :category %></td>
      </tr>
      <tr>
        <td><%= f.select(:category, options_for_select(
                [['TV & Home Theater', 'TV & Home Theater'],
                 ['Computer & Tables', 'Computer & Tables'],
                 ['Cell Phones', 'Cell Phones'],
                 ['Cameras', 'Cameras'],
                 ['Audio', 'Audio'],
                 ['Electronics', 'Electronics'],
                 ['Video Games', 'Video Games'],
                 ['Health', 'Health']]),
                         :onChange => "displaydesc(document.form1.select1, thetext1, 'textcontainer1')",
                         :size => 1) %>
        </td>
      </tr>


      <tr>
        <td><%= f.label :description %>(Please provide only a full valid URL here if you are uploading this as an
          advertisement)
        </td>
      </tr>
      <tr>
        <td><%= f.text_field :description, class: "form-control" %>  </td>
      </tr>

      <tr>
        <td><%= f.label :condition %>  </td>
      </tr>
      <tr>
        <td><%= f.text_field :condition, required: true %>  </td>
      </tr>


      <div class="form-group">
        <tr>
          <td>  <%= f.label :quantity %>   </td>
        </tr>
        <tr>
          <td> <%= f.number_field :total_quantity, :value => 1, :min => 1, :max => 65535, required: true %>   </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>  <%= f.label :price %>$</td>
        </tr>
        <tr>
          <td><%= f.number_field :price, :value => 1, :min => 1, required: true %>    </td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= f.file_field :product %>   </td>
        </tr>
      </div>

      <%= f.hidden_field :average_rating, :value => 0 %>
      <div class="form-group">
        <tr>
          <td> <%= f.label :is_advertisement %> </td>
        </tr>
        <tr>
          <td> <%= f.number_field :is_advertisement, :value => 0, :min => 0, :max => 1 %>   </td>
        </tr>
        <!--<#%= f.check_box_tag(:isAdvertisement, value = "1", checked = false, options = {}) %>-->
        <!--f.input :isAdvertisement, :as => :check_box, input_html: {checked:   1} %>-->

        <!--Yes <#%= f.radio_button  :isAdvertisement, :value => 1,  :class =>"Ad_Input", :checked => false  %>
        No  <#%= f.radio_button :isAdvertisement, :value => 0, :class =>"Ad_Input", :checked => true   %>
  -->


      </div>

    </table>


    <%= f.hidden_field :duration, :value => 0, required: true %>

    <%= f.hidden_field :active, :value => 1 %>

    <h1>Pay for product uploading</h1>

    <table>
      <div class="form-group">
        <tr>
          <td> <%= label_tag 'name' %>    </td>
        </tr>
        <tr>
          <td><%= text_field_tag 'name' %>   </td>
        </tr>
      </div>
      <div class=form-group
      ">
      <tr>
        <td> <%= label_tag 'card_number' %>  </td>
      </tr>
      <tr>
        <td><%= text_field_tag 'card_number' %>  </td>
      </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= label_tag 'expiry_date' %> mmyy format only</td>
        </tr>
        <tr>
          <td><%= text_field_tag 'expiry_date' %>  </td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= label_tag 'address' %>  </td>
        </tr>
        <tr>
          <td><%= text_field_tag 'address' %>  </td>
        </tr>
      </div>
    </table>

    <div>
      <%= f.submit "Upload item and pay for space" %>
    </div>

<% end %>
