<h1>Products</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>





<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Condition</th>
    <th>Duration</th>
    <th>Price</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.category %></td>

    <td><%= item.description %></td>

    <td><%= item.condition %></td>
    <td><%= item.duration %></td>
    <td><%= item.price %></td>

    <td><%= link_to 'View the Item', item %></td>

    <td></td>
    <td><%= link_to 'Edit item', edit_item_path(item) %></td>
    <td></td>
    <td><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Sell Item', new_item_path %>
