<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#= f.hidden_field :item_id, :value => params[:item_id] %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :expiry_date %> mmyy format only<br />
    <%= f.text_field :expiry_date %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :reward_points_spent %><br />
    <%= f.number_field :reward_points_spent, value: 0, required: true, in: 0..(current_user.reward_points >= @transaction.total_amount ? (@transaction.total_amount - 1) : current_user.reward_points) %>
  </div>
    <%= f.hidden_field :reward_points_earned, :value => 0 %>
  <div class="actions">
    <%= f.submit 'Confirm Buy'%>
  </div>
<% end %>
