<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Card Number</th>
    <th>Expiry Date</th>
    <th>Address</th>
    <th>Date of Transaction</th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <% if transaction.total_amount > 0 %>
            <td><%= transaction.card_number %></td>
            <td><%= transaction.expiry_date %></td>
            <td><%= transaction.address %></td>
        <% else %>
            <td>Only Reward Points Used</td>
            <td>Not Applicable</td>
            <td>Not Applicable</td>
        <% end %>
        <td><%= transaction.created_at %></td>
        <td><%= link_to 'Show', transaction %></td>
      </tr>
<% end %>
</table>
